<% @posts.each do |post| %>
  <article class="post">
    <h2><%= post.title %></h2>
    <% if user_signed_in? %>
      <small>by: <%= post.user.name %><br></small>
    <% else %>
      <small>by: Unknown<br></small>
    <% end %>
    <p><%= post.body %></p>
  </article>
<% end %>
